.menu {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    list-style: none;
    margin: 5px;
    padding: 0;
}

.menu li {
    color: black;
    text-decoration: none;
    
}

.link-style {
    font-size: 1.25em;
    width: 100%;
    padding-bottom: 10px;
    text-decoration: none;
    text-align: center;
    position: relative;
}

.link-active:after {
    content: '';
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    position: absolute;
    background-color: blue;
}

.link-style:hover:after {
    content: '';
    width: 100%;
    height: 3px;
    bottom: 0;
    left: 0;
    position: absolute;
    background-color: blue;
}